body {
    font-family: Roboto, sans-serif;
    margin: 0 0;
}

h1 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 4.5rem;
    line-height: 5.25rem;
    text-align: center;
    color: #fff;
}

h2 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    line-height: 4.6875rem;
    text-align: center;
    color: #007765;
    margin: 0;
}

h3 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-align: center;
    color: #007765;
    margin: 12px 0 0 0;
}

p {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.3125rem;
    color: #000000;
    margin-top: 1.5rem;
}

.container {
    box-sizing: border-box;
    max-width: 1219px;
    margin: 0 auto;
    padding: 0 55px;
}

.header {
    background-color: #007765;
    background-size: cover;
    height: 84px;
    display: flex;
    color: white;
    width: 100%;
    margin: 0;
    position: fixed;            /* закрепили блок при прокрутке*/
    top: 0;                     /*         */
    z-index: 100;               /*   и этим + width 100%       */
}

.header .container {
    display: flex;
    width: 100%;
}

.logo {
    float: left;
    margin-top: 20px;
}

.navbar {
    width: 100%;
}

.nav {
    float: right;
    margin-top: 28px;
}

.nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0 5px;
    font-size: 1.5rem;
    line-height: 1.75rem;
}

ul.nav li {
    display: inline-block;
}

.jumbotron {
    width: 100%;
    padding-top: 244px;
    padding-bottom: 160px;
    background-image: url("img/jumbo.png");
    background-size: cover;
    background-position: center center;
}

.problem {
    width: 100%;
    background-color: #EEEEEE;
    background-size: cover;
    padding-top: 48px;
    padding-bottom: 92px;
}

.hero {
    padding-top: 128px;
    padding-bottom: 128px;
    background-image: url("img/hero.png");
    background-size: cover;
    background-position: center center;
  }
  
  .hero__message {
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
    color: #fff;
  }

  .intro {
    background-color: #ffffff;
    background-size: cover;
    padding-top: 48px;
    padding-bottom: 92px;
  }

  figure {
    margin: 20px 48px 0 0;
    float: left;
    clear: both;
    display: table;
}

  .logop {
      margin-top: 20px;
  }

  .logo img {
      float: left;
      clear: both;
  }

  .theme {
    background-color: #EEEEEE;
    background-size: cover;
    padding-top: 58px;
    padding-bottom: 50px;
  }

  .band {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
    
  }

  .foto {
    flex-basis: 33%;
    text-align: center;
    padding: 24px;
    box-sizing: border-box;
    margin-bottom: 30px;
  }

  .sign {
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    color: #000000;
  }

  .footer {
    background-color: #333333;
    background-size: cover;
    padding-top: 26px;
    padding-bottom: 44px;
  }

  .footer p {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.4rem;
    text-align: center;
    color: #fff; 
  }

  @media (max-width: 768px) {
    .logo img {
      width: 100%;
    }

    .header {
      height: 70px;
    }

    .nav a {
      font-size: 1rem;
      line-height: 1rem;
    }

    .nav {
      margin-top: 26px;
    }

   h1 {
    font-size: 4rem;
    line-height: 4rem;
   }

   h2 {
    font-size: 3.2rem;
    line-height: 4.4rem;
   }

   h3 {
    font-size: 1.2rem;
    line-height: 1.4rem;
   }

   p {
    font-size: 1.6rem;
    line-height: 2.3rem;
   }

   .jumbotron {
    padding-top: 160px;
    padding-bottom: 100px;
   }

   .problem {
    padding-top: 40px;
    padding-bottom: 50px;
    }

  .hero__message {
    font-size: 2rem;
    line-height: 3rem;
    }

  .hero {
    padding-top: 80px;
    padding-bottom: 80px;
    }

  figure img {
    width: 100%;
  }  

  .intro  {
    padding-bottom: 60px;
  }

  .band>.foto img {
    width: 90%;
  }

  .sign {
    font-size: 1rem;
    line-height: 1.1rem;
  }

  .theme {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .band {
    margin-top: 10px;
  }

  .footer {
    padding-top: 18px;
    padding-bottom: 24px;
  }
  }

  @media (max-width: 560px) {
    .logo img {
      width: 90%;
    }

    .header {
      height: 64px;
    }

    .container {
      padding: 0 30px;
  }

    .nav a {
      font-size: 0.9rem;
    }

    .nav {
      margin-top: 23px;
    }

   h1 {
    font-size: 3rem;
    line-height: 3.5rem;
   }

   h2 {
    font-size: 2.8rem;
    line-height: 3.6rem;
   }

   h3 {
    font-size: 0.8rem;
    line-height: 1rem;
   }

   p {
    font-size: 1.4rem;
    line-height: 2rem;
   }

   .jumbotron {
    padding-top: 140px;
    padding-bottom: 90px;
   }

   .problem {
    padding-top: 36px;
    padding-bottom: 30px;
    }

  .hero__message {
    font-size: 1.6rem;
    line-height: 2.6rem;
    }

  .hero {
    padding-top: 60px;
    padding-bottom: 60px;
    }

  figure img {
    width: 90%;
  }  

  figure {
    margin: 28px 40px 0 0;
  }

  .intro  {
    padding-bottom: 40px;
  }

  .band>.foto img {
    width: 80%;
  }

  .sign {
    font-size: 0.6rem;
    line-height: 0.8rem;
  }

  .theme {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .band {
    margin-top: 10px;
  }

  .foto {
    padding: 20px;
    margin-bottom: 10px;
  }

  .footer {
    padding-top: 16px;
    padding-bottom: 20px;
  }

  .footer p{
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  }

  @media (max-width: 420px) {
    .logo img {
      width: 80%;
    }

    .header {
      height: 60px;
    }

    .container {
      padding: 0 20px;
  }

    .nav a {
      font-size: 0.6rem;
    }

    .nav {
      margin-top: 18px;
      padding: 0;
    }

   h1 {
    font-size: 2rem;
    line-height: 2.2rem;
   }

   h2 {
    font-size: 1.8rem;
    line-height: 2.8rem;
   }

   h3 {
    font-size: 0.8rem;
    line-height: 1rem;
   }

   p {
    font-size: 1rem;
    line-height: 1.8;
    margin-top: 0.8rem;
   }

   .jumbotron {
    padding-top: 110px;
    padding-bottom: 60px;
   }

   .problem {
    padding-top: 30px;
    padding-bottom: 10px;
    }

    .hero {
      padding-top: 50px;
      padding-bottom: 50px;
    }

  .hero__message {
    font-size: 1.2rem;
    line-height: 2rem;
    }

  figure img {
    width: 70%;
  }  

  figure {
    margin: 20px 10px 0 0;
  }

  .intro  {
    padding-bottom: 30px;
  }

  .band>.foto img {
    width: 80%;
  }

  .sign {
    font-size: 0.6rem;
    line-height: 0.8rem;
  }

  .theme {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .band {
    margin-top: 10px;
  }

  .foto {
    flex-basis: 49%;
    padding: 20px;
    margin-bottom: 10px;
  }

  .footer {
    padding-top: 16px;
    padding-bottom: 20px;
  }

  .footer p{
    font-size: 0.6rem;
    line-height: 1rem;
  }
  }

  @media (max-width: 320px) {
    p {
      font-size: 0.8rem;
    }

    .logo img {
      width: 70%;
    }

    .header {
      height: 60px;
    }

    .container {
      padding: 0 16px;
  }

    .nav a {
      font-size: 0.45rem;
    }

    .nav {
      margin-top: 18px;
      padding: 0;
    }
  }

